.searchbar>input{
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid rgb(196, 194, 194);

    width: 90%;

    margin-left: 5%;
    margin-right: 5%;

    position: absolute;
    bottom: 50vh;
}

