.searchbar{
    width: 90%;
    margin-left:5% ;
    margin-right:5% ;

    position: absolute;
    bottom: 50vh;

}

.searchbar>input{
    padding:1rem;
    width: 90%;

    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;

        border-right: none;
    max-height: 100px;
}

.searchbar>button{

    padding: 1rem;
    width: 10%;
    border-radius: 0 4px 4px 0;
    border: none;
    max-height: 100px;

    border: none;
    outline: none;

}
